* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-weight: bold;
}

li {
  list-style-type: none;
}

.container {
  display: grid;
  grid-template-columns: minmax(250px, 1fr) 4fr;
  grid-template-rows: minmax(150px, 1fr) 1fr;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em 2em 1em 2em;
  background-color: white;
}

header .top,
header .bottom {
  display: flex;
  justify-content: space-between;
}

.search-container,
.profile-options,
.profile-welcome,
.button-options {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.profile-options {
  padding: 0 1em 0 0;
}

input {
  padding: 0.4em 0 0.4em 0.5em;
  width: 45em;
  border: none;
  border-radius: 20px;
  background-color: #e2e8f0;
}

input:focus {
  outline: 1px solid rgb(0, 0, 0, .175);
}

.icon {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: white;
}

.avatar {
  height: 30px;
  width: 30px;
  border-radius: 10px;
  background-color: lightyellow;
}

.profile-welcome .avatar {
  height: 50px;
  width: 50px;
  border-radius: 20px;
}

button {
  padding: 0.75em 2em 0.75em 2em;
  border: none;
  border-radius: 1.5em;
  font-weight: bold;
  color: white;
  cursor: pointer;
  background-color: #1992d4 ;
}

.title-logo,
.sidebar li {
  display: flex;
  align-items: center;
  gap: 1em;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.sidebar {
  grid-column: 1 / span 1;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em;
  color: white;
  background-color: #1992d4;
}

main {
  display: grid;
  padding: 1em;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 5em;
  row-gap: 2.5em;
  box-shadow: inset -1px 1px 5px rgb(0, 0, 0, .175);
  background-color: #e2e8f0;
}

.projects {
  grid-column: 1 / span 1;
  grid-row: 1 / -1;

}

.announcements {
  grid-column: 2 / -1;
  grid-row: 1 / span 1;

}

.trending {
  grid-column: 2 / -1;
  grid-row: 2 / -1;

}

.project-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.project-card {
  width: 380px;
  height: 235px;
  border: 1px solid red;
}

.announcements-box {
  width: 275px;
  height: 350px;
  border: 1px solid red;
}

.trending-box {
  width: 275px;
  height: 350px;
  border: 1px solid red;
}